.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
/.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/out/
/JavaFeatures.iml
/Java8/Java8.iml
/Java9/Java9.iml
/Java10/Java10.iml
/Java11/Java11.iml
/Java12/Java12.iml
/Java13/Java13.iml
/Java14/Java14.iml
/Java15/Java15.iml
/Java16/Java16.iml
/Java17/Java17.iml
/Java18/Java18.iml
/Java19/Java19.iml
/Java20/Java20.iml
/Java21/Java21.iml
